USE [master]
GO
/****** Object:  Database [EXAMENS_VILLARD]    Script Date: 26/03/2026 15:36:27 ******/
CREATE DATABASE [EXAMENS_VILLARD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXAMENS_VILLARD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EXAMENS_VILLARD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EXAMENS_VILLARD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EXAMENS_VILLARD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXAMENS_VILLARD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXAMENS_VILLARD]
GO
/****** Object:  Table [dbo].[CANDIDAT]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDAT](
	[No_candidat] [varchar](15) NOT NULL,
	[Nom_candidat] [varchar](50) NOT NULL,
	[Prénom_candidat] [varchar](50) NOT NULL,
	[Date_nais_candidat] [date] NOT NULL,
	[Code_examen] [varchar](12) NOT NULL,
 CONSTRAINT [PK_CANDIDAT] PRIMARY KEY CLUSTERED 
(
	[No_candidat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EPREUVE]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EPREUVE](
	[Code_épreuve] [varchar](15) NOT NULL,
	[Libellé_épreuve] [varchar](50) NOT NULL,
	[Coef_épreuve] [int] NOT NULL,
	[Date_pass_épreuve] [date] NOT NULL,
	[Date_vérif_épreuve] [date] NOT NULL,
	[Code_examen] [varchar](12) NOT NULL,
 CONSTRAINT [PK_EPREUVE] PRIMARY KEY CLUSTERED 
(
	[Code_épreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAMEN]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMEN](
	[Code_examen] [varchar](12) NOT NULL,
	[Libellé_examen] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EXAMEN] PRIMARY KEY CLUSTERED 
(
	[Code_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSER]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSER](
	[No_candidat] [varchar](15) NOT NULL,
	[Code_épreuve] [varchar](15) NOT NULL,
	[Note_épreuve] [float] NULL,
 CONSTRAINT [PK_PASSER] PRIMARY KEY CLUSTERED 
(
	[No_candidat] ASC,
	[Code_épreuve] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERIFICATEUR]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERIFICATEUR](
	[No_vérificateur] [varchar](15) NOT NULL,
	[Nom_vérificateur] [varchar](50) NOT NULL,
	[Prénom_vérificateur] [varchar](50) NOT NULL,
	[Civilité_vérificateur] [varchar](15) NOT NULL,
 CONSTRAINT [PK_VERIFICATEUR] PRIMARY KEY CLUSTERED 
(
	[No_vérificateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERIFIER]    Script Date: 26/03/2026 15:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERIFIER](
	[Code_épreuve] [varchar](15) NOT NULL,
	[No_vérificateur] [varchar](15) NOT NULL,
 CONSTRAINT [PK_VERIFIER] PRIMARY KEY CLUSTERED 
(
	[Code_épreuve] ASC,
	[No_vérificateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANDIDAT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_EXAMEN] FOREIGN KEY([Code_examen])
REFERENCES [dbo].[EXAMEN] ([Code_examen])
GO
ALTER TABLE [dbo].[CANDIDAT] CHECK CONSTRAINT [FK_CANDIDAT_EXAMEN]
GO
ALTER TABLE [dbo].[EPREUVE]  WITH CHECK ADD  CONSTRAINT [FK_EPREUVE_EXAMEN] FOREIGN KEY([Code_examen])
REFERENCES [dbo].[EXAMEN] ([Code_examen])
GO
ALTER TABLE [dbo].[EPREUVE] CHECK CONSTRAINT [FK_EPREUVE_EXAMEN]
GO
ALTER TABLE [dbo].[PASSER]  WITH CHECK ADD  CONSTRAINT [FK_PASSER_CANDIDAT] FOREIGN KEY([No_candidat])
REFERENCES [dbo].[CANDIDAT] ([No_candidat])
GO
ALTER TABLE [dbo].[PASSER] CHECK CONSTRAINT [FK_PASSER_CANDIDAT]
GO
ALTER TABLE [dbo].[PASSER]  WITH CHECK ADD  CONSTRAINT [FK_PASSER_EPREUVE] FOREIGN KEY([Code_épreuve])
REFERENCES [dbo].[EPREUVE] ([Code_épreuve])
GO
ALTER TABLE [dbo].[PASSER] CHECK CONSTRAINT [FK_PASSER_EPREUVE]
GO
ALTER TABLE [dbo].[VERIFIER]  WITH CHECK ADD  CONSTRAINT [FK_VERIFIER_EPREUVE] FOREIGN KEY([Code_épreuve])
REFERENCES [dbo].[EPREUVE] ([Code_épreuve])
GO
ALTER TABLE [dbo].[VERIFIER] CHECK CONSTRAINT [FK_VERIFIER_EPREUVE]
GO
ALTER TABLE [dbo].[VERIFIER]  WITH CHECK ADD  CONSTRAINT [FK_VERIFIER_VERIFICATEUR] FOREIGN KEY([No_vérificateur])
REFERENCES [dbo].[VERIFICATEUR] ([No_vérificateur])
GO
ALTER TABLE [dbo].[VERIFIER] CHECK CONSTRAINT [FK_VERIFIER_VERIFICATEUR]
GO
USE [master]
GO
